<link rel="stylesheet" href="css/profile.css">

<div class="mdl-card mdl-shadow--2dp" id="profile" ng-controller="profileController">
	<div class="mdl-card__title">
		<h1 class="accent" id="username">{{ currentUser.name }}</h1>
	</div>
	<form name="profileForm" novalidate ng-submit="updateProfile(profileForm)" >

		<div id="form-body">
			<div class="field" ng-repeat="(fieldKey, fieldName) in fieldMappings">
				<ng-form name="profileField">
					<span 
						class="field-name"
						ng-class="{ 'input-has-error' : submitted && profileField.field.$invalid }">
						{{ fieldName }}
					</span>
					<div class="field-content mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" 
						type="text" 
						name="field" 
						ng-model="profile[ fieldKey ]" 
						ng-pattern="profilePatterns[ fieldName ]"
						ng-class="{ 'input-has-error' : submitted && profileField.field.$invalid }"
						required/>
					</div>
				</ng-form>
			</div>
		</div>
			
		<div class="mdl-card-footer-button mdl-card__actions mdl-card--border"></div>

		
		
		<button type="submit" id="submit" >
			<span>
				更新資料
			</span>
			<span ng-switch on="submissionStatus">
				<i ng-switch-when="done" style="font-size: 30px; color: green" class="material-icons">done</i>
				<div ng-switch-when="pending" class="mdl-spinner mdl-js-spinner is-active" ></div>
			</span>
		</button>
		
		
		<p class="animation-pop" id="form-error-message" 
			ng-show="submitted && profileForm.$invalid" >
			請確認所有資料格式正確
		</p>
	</form>
	
</div>

